<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TBXDialectSchemaGenerator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TBXDialectSchemaGenerator.Settings>
            <setting name="BasicModuleRepo" serializeAs="String">
                <value>https://github.com/LTAC-Global/TBX_basic_module.git</value>
            </setting>
            <setting name="MinModuleRepo" serializeAs="String">
                <value>https://github.com/LTAC-Global/TBX_min_module.git</value>
            </setting>
            <setting name="ValidationAPI" serializeAs="String">
                <value>https://validate.tbxinfo.net/</value>
            </setting>
        </TBXDialectSchemaGenerator.Settings>
    </userSettings>
</configuration>